body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    background-color: #ffffff;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Logo */
.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 200px;
    height: auto;

}

/* Formulario de Estilo */
.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-group input:focus {
    outline: none;
    border-color: #009688;
}

/* Estilização do botão */
.btn {
    background-color: #32cd32;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    font-size: 16px;
}

.btn:hover {
    background-color: #28a428;
}

.link-voltar {
    display: block;
    margin-top: 15px;
    color: #009688;
    text-decoration: none;
    font-size: 14px;
}

.link-voltar:hover {
    text-decoration: underline;
}