* {
    margin: 0;
    padding: 0;
  }

#nav {
    background-color: #0B9504;
    height: 60px;
    width: 100%;
    display: inline-flex;
}

#logo {
    padding-left: 10px;
}

#menu {

   position: absolute;
   right: 10px;
   top: 2px;
    
}

#nav h1 {
    color: white;
    font-family: sans-serif;
    align-content: center;
}